/* Shoe Review CSS */

/* Elements */
body
{
	background-color: black;
    color: white;
    font-family: sans-serif, verdana;
    font-size: 110%;
}

h1, h2, h3, h4, h5, h6 
{ 
	letter-spacing: 0em;
}

h1, h2, h3, h4
{ 
	margin: 0 0 15px 0;
	padding: 15px 0 5px 0;
}

h1
{ 
	font-size: 180%;
}

h2
{ 
	font-size: 160%;
}

h3
{ 
	font-size: 140%;
}

h4
{ 
	font-size: 120%;
}

p
{
    padding: 5px 0;
}

a
{
    color: lightslategray;
	text-decoration: none;
}

a:hover
{
	cursor: pointer;
    text-decoration: underline;
}

a:focus
{
	color: darkslategray;
}

img
{
    max-width: 1070px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

table
{
    margin: 0px auto; 
}
/* Id's */
#pageLayout
{
	border-collapse: separate;
    border: 3px hidden transparent;
}

#pageLayout table
{
	width: 1080px;
	background: rgba(0, 0, 0, 0.5);
}

#pageLayout tr, #pageLayout th, #pageLayout td
{
    border: 3px hidden transparent;
}

#pageLayout tr
{
    width: 1080px;
}

#pageLayout th
{
	text-align: center;
	padding: 30px 15px;
}

#pageLayout td
{
	padding: 50px 30px;
    vertical-align: middle;
}

#logo
{
    width: 180px;
}

#heading
{
    width: 720px;
    font-style: oblique;
    font-variant: small-caps;
    font-size: 575%;
    text-decoration: overline;
    text-shadow: 4px 1px lightslategray;
    word-spacing: 10px;
}

#navBar th
{
    padding: 10px;
    width: 180px;
    border: 3px inset white;
    text-decoration: none;
}

#navBar th:hover
{
    background-color: slategray;
    color: black;
    border: 3px outset white;
}

#navBar th a, #navBar th a:hover
{
    text-decoration: none;
}

#navBar th a
{
    color: white;
}

#navBar th a:hover
{
    color: black;
}

#navBar th a:focus
{
	color: slategray;
}

#header
{
    height: 175px;
    width: 1080px;
}

#footer th
{
    border-top: 3px groove white;
    width: 1080px;
    padding: 40px;
}

/* Classes */
.current
{
    background-color: slategray;
}

.reviewedShoeImage img
{
    max-width: 170px;
}

.reviewedShoeNameAndRating
{
    font-size: 135%;
    text-align: center;
}

.subheading
{
    font-size: 180%;
    text-align: center;
}